table {
    width: 80%;
    margin: 20px 0;
}

th,
td {
    text-align: left;
    padding: 10px;
}

th {
    background-color: #303a30;
    color: white;
    
}

td {
    background-color: #f9f9f9;
   
}

tr:nth-child(even) td {
    background-color: #f2f2f2;

}

.modal {
    padding: 0.5rem;
    z-index: 10;
}

.event-form {
    display: inline-flex;
    flex-direction: column;
}

.sample {
    color: rgb(138, 138, 138);
}

.events {
    background-color: #cfcfcf;
    transition: transform 0.5s;
    padding: 0.3rem;
    margin: 0.5rem;
}

.events:hover {
    opacity: 0.9;
    transform: scale(1.01);
  }

.newly-added {
    background-color: aqua;
}

.recently-edited {
    background-color: rgb(250, 182, 98);
}

.completed-event {
    /*Do some thing to show it's completed*/
}