#forecastDataContainer{
    padding: 20px 24px;
    border-radius: 5px;
    font-size: 20px;
    
    
}

table {
    width: 80%;
    margin: 20px 0;
}

th,
td {
    text-align: left;
    padding: 10px;
}

th {
    background-color: #06386b;
    color: white;
    
}

td {
    background-color: #f9f9f9;
   
}

tr:nth-child(even) td {
    background-color: #f2f2f2;

}



/* add event button */
.open-modal{
    
    padding: 12px 24px;
    font-size: 18px;
    font-weight: bold;
    background: linear-gradient(145deg, #2c73bb, #06386b);
    
    /* Add some gradient effect */
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;

}

.open-modal:hover {
    background: linear-gradient(145deg, #094D92,#C3F73A);
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.2);
}

.open-modal:active {
    transform: scale(0.98);
}

.refresh-button{

    padding: 12px 24px;
    font-size: 18px;
    font-weight: bold;
    background: linear-gradient(145deg, #2c73bb, #06386b);
    
    /* Add some gradient effect */
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.refresh-button:hover {
    background: linear-gradient(145deg, #094D92,#C3F73A);
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.2);
}

.refresh-button:active {
    transform: scale(0.98);
}


/* Outer box */
.modal{
    justify-content: center;
    align-items: center;
    border: 3px solid #094D92;
    width: 50%;
    border-radius: 5px;
    font-size: 20px;
}

/* Outer box for edit*/
.edit-modal {
    justify-content: center;
    align-items: center;
    border: 3px solid #094D92;
    width: 40%;
    border-radius: 5px;
    font-size: 20px;
}

/* inner box */
.event-form {
    background: #fff;
    padding: 30px;
    border-radius: 15px;
    width: 90%;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
    text-align: left;
    position: relative;
    transform: scale(0.8);
    
    
}


/* close button */
.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 12px 25px;
    background: linear-gradient(145deg, #2c73bb, #06386b);
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 8px;

    
}

.close-modal:hover {
    transform: scale(0.90);
    background: red;
}


.modal form {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.edit-modal form {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.modal input, textarea{
    background-color: #f9f9f9;
    margin-bottom: 15px;
    border: 2px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    padding: 15px;
}
.edit-modal input, textarea{
    background-color: #f9f9f9;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 2px solid #ddd;
    font-size: 16px;
    padding: 15px;
}

input:focus, textarea:focus {
    background-color: #ffffff;
    outline: none;
    border-color: #95E06C;
}


/* Submit Button */
.submit-modal {
    background: linear-gradient(145deg, #2c73bb, #06386b);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    padding: 12px 25px;
}

.submit-modal:hover {
    background: linear-gradient(145deg, #094D92, #C3F73A);
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.2);
}

.submit-modal:active {
    transform: scale(0.98);
}



/* 

.newly-added {
    background-color: aqua;
}

.recently-edited {
    background-color: rgb(250, 182, 98);
}  

*/

.completed-event .event-name {
    text-decoration: line-through;
    color:#04A777
}
.completed-event .event-description {
    text-decoration: line-through;
    color:#04A777
}

.sample{
    color: gray;
    margin-top: 0px;
}

/* Event List Styles */

.event-container {
    background: #fff;
    padding: 30px;
    width: 90%;
    text-align: left;
    position: relative;
}
/* style each event thats dynamically added */
.events {
    background-color: rgba(150, 150, 168, 0.1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 10px;
}

.event-name {
    margin-bottom: 0px;
    font-size: 26px;
    font-weight: bold;
    color: black; 
}

.event-description {
    font-size: 18px;
    color: black;
    margin-bottom: 10px;
}

.event-info {
    font-size: 14px;
    color: black;
    margin-bottom: 10px;
}
.event-location {
    font-size: 12px;
    color: black;
    margin-top: 10px;
}


.event-info span {
    margin-right: 50px;
}

.delete-button {
    /* add style here */

}
.mark-complete-button {
   
    /* add style here */

}