/* center everything on the front page */
.front-page{
    display: grid;
    place-items: center;
    margin: 20px auto;
    padding: 20px;
    width: 75%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 1px 5px 0px;
}

#forecastDataContainer{
    font-size: 20px;
    width: 90%;
    box-shadow: 0 1px 5px 0px;
    border-radius: 10px;
    
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}



table {
    width: 100%;
    border-radius: 10px;
}

th,
td {
    text-align: left;
    padding: 10px;
}

th {
    background-color: #06386b;
    color: white;
    border-radius: 10px;
    
}

td {
    background-color: #f9f9f9;
   
}

tr:nth-child(even) td {
    background-color: #f2f2f2;

}



/* add event button */
.open-modal, .refresh-button{
    margin-bottom: 10px;
    width: 20%;
    padding: 12px 24px;
    font-size: 18px;
    font-weight: bold;
    background: linear-gradient(145deg, #2c73bb, #06386b);
    color: white;
    border: none;
    border-radius: 50px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);

}

.open-modal:hover {
    background: linear-gradient(145deg, #094D92,#C3F73A);
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.2);
}
.refresh-button:hover {
    background: linear-gradient(145deg, #094D92,#C3F73A);
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.2);
}

.refresh-button{

    padding: 12px 24px;
    font-size: 18px;
    font-weight: bold;
    background: linear-gradient(145deg, #2c73bb, #06386b);
    
    /* Add some gradient effect */
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.refresh-button:hover {
    background: linear-gradient(145deg, #094D92,#C3F73A);
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.2);
}

.refresh-button:active {
    transform: scale(0.98);
}



/* Outer box */
.modal{
    justify-content: center;
    align-items: center;
    border: 3px solid #094D92;
    width: 50%;
    border-radius: 5px;
    font-size: 20px;
}

/* Outer box for edit*/
.edit-modal {
    justify-content: center;
    align-items: center;
    border: 3px solid #094D92;
    width: 40%;
    border-radius: 5px;
    font-size: 20px;
}

/* inner box */
.event-form {
    background: #fff;
    padding: 30px;
    border-radius: 15px;
    width: 90%;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
    text-align: left;
    position: relative;
    transform: scale(0.8);
    
    
}


/* close button */
.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 12px 25px;
    background: linear-gradient(145deg, #2c73bb, #06386b);
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 8px;

    
}

.close-modal:hover {
    transform: scale(0.90);
    background: red;
}


.modal form {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.edit-modal form {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.modal input, textarea{
    background-color: #f9f9f9;
    margin-bottom: 15px;
    border: 2px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    padding: 15px;
}


.edit-modal input, textarea{
    background-color: #f9f9f9;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 2px solid #ddd;
    font-size: 16px;
    padding: 15px;
}

input:focus, textarea:focus {
    background-color: #ffffff;
    outline: none;
    border-color: #95E06C;
}


/* Submit Button */
.submit-modal {
    background: linear-gradient(145deg, #2c73bb, #06386b);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    padding: 12px 25px;
}

.submit-modal:hover {
    background: linear-gradient(145deg, #094D92, #C3F73A);
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.2);
}

.submit-modal:active {
    transform: scale(0.98);
}




/* Change background color for new and edited events */
.newly-added {
    background-color: #f3efef;
}

.recently-edited {
    background-color: #d4dbe4;
}  


/*
.completed-event .event-name {
    text-decoration: line-through;
    color:#00A896
}
.completed-event .event-description {
    text-decoration: line-through;
    color:#00A896
}

*/
.completed-event{
    background-color:#b3d8d45d
}


.sample{
    color: gray;
    margin-top: 0px;
}

/* Event List Styles */

.event-container {

    background: #fff;
    padding: 30px;
    width: 90%;
    text-align: left;
}
/* style each event thats dynamically added */
.events {

    display: flex;
    justify-content: space-between;
    align-items: flex-start; 

    box-shadow: 0 1px 5px 0px;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 10px;
}

.event-name {
    margin-bottom: 0px;
    font-size: 26px;
    font-weight: bold;
    color: black; 
}

.event-description {
    font-size: 18px;
    color: black;
    margin-bottom: 10px;
    width: 80%;
}

.event-info {
    font-size: 14px;
    color: black;
    margin-bottom: 10px;
}
.event-location {
    font-size: 14px;
    color: black;
    margin-top: 10px;
}


.event-info span {
    margin-right: 50px;
}

/* style the delete, complete and get weather buttons */

.delete-button {
    font-size: 13px;
    padding: 10px;
    border: none;
    border-radius: 6px;
    color: white;
    background-color: #c23631;

}
.delete-button:hover {
    background-color: #f05c57;
    font-size: 13.5px;

}

.mark-complete-button {
    
    font-size: 13px;
    padding: 10px;
    border: none;
    border-radius: 6px;
    color: white;
    background-color: #00A896;

    
}
.mark-complete-button:hover {
    
    background-color: #15beae;
    font-size: 13.5px;

    
}



.get-weather-button {
    font-size: 13px;
    padding: 10px;
    border: none;
    border-radius: 6px;
    color: white;
    background-color:#28587B;

}

.get-weather-button:hover {
    background-color:#3f8fc9;
    font-size: 13.5px;

}

#display-temp {
    font-size: 30px;
    font-weight: bold;
    color: #06386b;
    margin-bottom: 10px;
}